<!DOCTYPE html>
<title> FAQ </title>
<div class="container">
	<div class="row">
		<div class="span8">
			<h3> Frequently Asked Questions </h3>

			<h4>What is the McGill Farmers’ Market?</h4>
			<p>The McGill Farmers’ Market is a collaborative initiative that draws from all corners of McGill University and aims to bring delicious, local, seasonal produce to McGill’s downtown campus.</p>

			<h4>Why is it so important?</h4>
			<p>Since it was founded in 2008, the McGill Farmers’ Market has been an educational outlet for students, administration, faculty, and the surrounding McGill community to learn about eating locally, staying healthy, and promoting sustainable food choices both at McGill and in Montreal.</p>

			<h4>What does the McGill Farmers’ Market do?</h4>
			<p>The McGill Farmers’ Market consists of two major projects annually.
			During the summer and fall, we offer a weekly Community Supported Agriculture Program.  Basket-holders pre-pay in the spring to receive fresh in-season produce every week throughout the summer and fall at a slightly discounted rate, helping farmers to pay their up-front costs at the start of the growing season.
			Additionally, throughout the fall, we operate a weekly market on McGill University campus, featuring vendors from our local area.  At the fall market you can find everything from vegetables to sweet-breads and other baked goods, honey, oils, teas, and maple syrup for sale, as well as workshops, music, and other events!</p>

			<h4>How long as has the market been at McGill?</h4>
			<p>The idea for the McGill Farmers Market came out of a McGill Rethink Conference in 2008 - a conference devoted to innovation in sustainability and cooperation between students, staff, faculty and the surrounding Montreal community. Since that meeting, the market has been coordinated by students,  attended by thousands, and advised by a board of staff, faculty and students. Farmers Markets are popping up all over campuses in North America and we are proud to be part of this movement!</p>
		</div>

	<div class="span4">
		<img src="http://3.bp.blogspot.com/-7IGQPVzzRpk/UD9zE2EePPI/AAAAAAAAARQ/msX71GuIw4Y/s220/Logo%2BLittle%2BDude%2BTransparent.png" align="center"/>
	</div>

</div>
