<!DOCTYPE html>
<title> Get Involved! </title>
<div class="container">
	<div class="row">
		<div class="span8">

			<h3> So you want to get involved </h3>

			<p>We are always looking for people interested in becoming more involved in the market!  

			<p>There are many ways to be involved with the McGill Farmers' Market.  </p>

			<p>We rely on volunteers to help out on market days with greeting our vendors and helping them set up, chatting with visitors to the market, spreading information about our mission and goals, promoting the market around McGill, cleaning up after the market finishes, and doing other tasks as needed.  Volunteering with the McGill Farmers' Market is a great opportunity to meet local farmers, learn about sustainability, eat lots of local and organic food, get to know others interested in similar topics, and have fun.  You don't need to be a student to volunteer--we welcome all members of the McGill and Montreal community!</p>

			<%= image_tag("_MG_8362_rounded.png") %>

			<p>There are <b>two main types of volunteers</b> at the market on a weekly basis, but if you would like to get involved in other ways, let us know. </p>

			</br>

			<h4> 1. Volunteer bottom-liners </h4>


			<p>Volunteer bottom-liners commit to attending the market every week during the fall for a set shift.  They are trained as to how the market operates, including set-up, welcoming farmers, outreaching during the market, greeting and chatting with visitors and vendors, cleaning-up, etcetera.  Becoming a dedicated volunteer bottom-liner will not only help the market run smoothly, but you will also gain experience in running a busy farmers' market, make connections to farmers and other vendors, and the experience may prove valuable in applying for a coordinator position again next year! </p>

			<p>The shifts for volunteer bottom-liners are as follows (we ask that you commit to being there for this shift for all 9 weeks of the market, from August 30th to October 25th):
			

			<ul>

			<li>Thursdays 11 Am to 1 PM (set up and beginning of market)
			<li>Thursdays 1 PM to 3 PM (middle of market)
			<li>Thursdays 3PM to 5.30PM (end of market and take down).

			</ul>
			</p>

			</br>

			<h4> 2. Call-out volunteers </h4>			

			<p>Call-out volunteers sign up for shifts on a weekly basis.  If you are interested in being on our call-out list you will receive weekly emails with information about what kind of volunteers we need and what times, and you can reply based on your availabilities.</p>

		</div>

		<div class="span4">
			<a href="https://docs.google.com/spreadsheet/viewform?formkey=dE40SnZXNE5iX2VtdW5sYXFPdUoyU2c6MQ" class="btn byn-large btn-warning"> Signup Form </a>
		</div>
	</div>
</div>