<div class="container">
	<div class="row">
		<div class="center hero-unit">

	  		<h1>McGill Farmers' Market</h1>

	  		<h2> A collaborative initiative that draws from all corners of McGill University and aims to bring delicious, local, seasonal produce to McGill’s downtown campus. </h2>


	  		
	  		<%= link_to "Facebook", "https://www.facebook.com/mcgillfarmersmarket", class: "btn btn-large btn-primary" %>
	  		<%= link_to "Twitter", "https://twitter.com/McGillFM", class: "btn btn-large btn-warning" %>
	  		<%= link_to "Get Involved!", getinvolved_path, class: "btn btn-large btn-success" %>
	  	</div>
	</div>
</div>
<!-- Second row -->
<div class="container">
	<div class="row">
		<div class="span8">
			<h1> Community </h1>
			<p align="center"> • Creates a welcoming and inclusive space on campus for positive interaction and conversation
			• Platform for other McGill and community initiatives to promote their projects an foster valuable connections 
			• McGill Farmers’ Market stakeholder network draws from all corners of the McGill community
			</p>
		</div>
		<div class="span4">
			<img src="http://2.bp.blogspot.com/-XSra42jG5x8/UDenF7bOeJI/AAAAAAAAAPI/AOfSvFp2Zdk/s1600/august+18.png" alt="Thumb1" align="right" />
		</div>
	</div>
</div>

</br>
</br>
</br>
</br>


<!-- Third row -->
<div class="container">
	<div class="row">
		<div class="span4">
			<img src="http://1.bp.blogspot.com/--h-SEbquhiE/UDenGe8NTII/AAAAAAAAAPQ/ZKmSs4flmCk/s1600/august+19.png" alt="Thumb1" align="left" />
		</div>
		<div class="span8">
			<h1> Health </h1>
			<p align="center"> • Provides fresh organic fruits and vegetables to the downtown community
			• Promotes healthy eating habits through cooking workshops and recipes
			</p>
		</div>
		
	</div>
</div>
</br>
</br>
</br>
</br>

<!-- Fourth row -->

<div class="container">
	<div class="row">
		<div class="span8">
			<h1> Education </h1>
			<p align="center"> • Provides workshops about cooking and sustainable living
			• Forum for discussion and education about food-related issues
			• Applied student research partnership for Dietetics
			</p>
		</div>
		<div class="span4">
			<img src="http://4.bp.blogspot.com/-QlJwr9JRZxU/UDenHCC4LGI/AAAAAAAAAPY/ciXC6qII78s/s1600/august+20.png" alt="Thumb1" align="right" />
		</div>
	</div>
</div>


</br>
</br>
</br>
</br>

<!-- Fifth row -->

<div class="container">
	<div class="row">
		<div class="span4">
			<img src="http://1.bp.blogspot.com/-0JiAbiFLQv8/UDenIZ5dtXI/AAAAAAAAAPw/H3Pt7Gg8Hno/s1600/august+23.png" alt="Thumb1" align="left" />
		</div>
		<div class="span8">
			<h1> Sustainability </h1>
			<p align="center"> • Easy access to locally and sustainably grown produce
			• Fosters more equitable producer-consumer relationships
			• Connects the downtown residents to the agricultural community and their food source
			</p>
		</div>
		
	</div>
</div>
