<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "McGill Farmers' Market", '/', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "FAQ", about_path %></li>
          <li><%= link_to "Get Involved", getinvolved_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>